.mainNav {
  position: relative;
}

.mainNav .menuBars {
  color: var(--dark);
  font-size: 2.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.mainNav .mainNavList {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 100;
  text-align: center;
  background-color: var(--accent);
  border-radius: 25px;
  overflow: hidden;
  max-height: 0;
  width: 0;
}

.mainNav .mainNavList-enter {
  max-height: 0;
  width: 0;
}

.mainNav .mainNavList-enter-done {
  max-height: 500px;
  width: auto;
  transition: all 1s;
}

.mainNav .mainNavList .mainNavItem {
  margin: auto;
  margin-top: 1em;
  padding: 0 1em;
}

.mainNav .mainNavList .mainNavItem:last-child {
  margin-bottom: 1em;
}

.mainNav .mainNavList .mainNavItem a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
}

.mainNav .mainNavList .mainNavItem a:hover,
.mainNav .mainNavList .mainNavItem button:hover {
  font-weight: 900;
}

.mainNav .mainNavList .mainNavItem button {
  background-color: var(--accent);
  font-size: 1em;
  font-weight: 500;
  border: none;
  margin-bottom: 0;
}

.mainNav .mainNavList .mainNavItem .unitsList {
  list-style: none;
  padding: 0;
}

.mainNav .mainNavList .mainNavItem ul.unitsList li:hover {
  font-weight: 900;
}
