header {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
}

h1 {
  display: inline-block;
  color: var(--dark);
  background-color: var(--accent);
  margin: 0.5em 0 0 0;
  padding: 0 0.25em;
  border-radius: 0.25em;
}
