.totalWeightSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totalWeightSection .netWeightError {
  color: red;
  font-size: 0.75em;
  margin-bottom: 0;
}

.totalWeightSection .valueWrapper {
  height: 2.25em;
  display: flex;
  align-items: center;
}

.totalWeightSection .valueWrapper input.totalWeight {
  padding: 0.2em;
  margin-right: 0.25em;
  height: 100%;
  max-width: 5em;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  border: 2px solid var(--dark);
  outline: -webkit-focus-ring-color auto 1px;
}

.totalWeightSection .valueWrapper select.unit {
  display: inline-block;
  text-align: center;
  height: 100%;
  font-size: 1.05em;
  font-weight: 600;
  border: 2px solid var(--dark);
  outline: -webkit-focus-ring-color auto 1px;
}
