.totalWeightSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totalWeightSection .totalWeightWrapper {
  text-align: right;
}

.totalWeightSection .totalWeightWrapper .netWeightError {
  color: red;
  font-size: 0.75em;
  text-align: right;
  margin-bottom: 0;
}

.totalWeightSection .totalWeightWrapper input.totalWeight {
  padding: 0.2em;
  margin-right: 0.25em;
  max-width: 5em;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  border-radius: 2px;
  border: 2px solid var(--dark);
  outline: -webkit-focus-ring-color auto 1px;
}

.totalWeightSection .totalWeightWrapper select.unit {
  display: inline-block;
  padding: 0.2em;
  font-size: 1.05em;
  font-weight: 600;
  border-radius: 2px;
  border: 2px solid var(--dark);
  outline: -webkit-focus-ring-color auto 1px;
}
