.manageDiners .closeModalWrapper {
  text-align: right;
}

.manageDiners .closeModalWrapper .closeModal {
  font-size: 2rem;
  cursor: pointer;
}

.manageDiners .noDiners {
  text-align: center;
  width: 100%;
}

.manageDiners form {
  margin-top: 1.75em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.manageDiners form .outerInputsWrapper .inputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.manageDiners form .outerInputsWrapper .inputWrapper:nth-of-type(2) {
  margin-top: 0.25em;
}
.manageDiners form .outerInputsWrapper .inputWrapper input {
  max-width: 8em;
}
