.formNewDiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 1rem;
}

.formNewDiner .error {
  color: red;
  font-size: 0.75em;
}

.formNewDiner .btn {
  margin: 1rem 1rem 0 0;
}

.formNewDiner .btn.cancel {
  color: lightgray;
  font-weight: 300;
}
