.formDish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 1rem;
}

.formDish .error {
  color: red;
  font-size: 0.75em;
}

.formDish span {
  font-weight: 600;
}

.formDish .btn {
  margin: 1rem 1rem 0 0;
}

.formDish .btn.cancel {
  color: lightgray;
  font-weight: 300;
}

.formDish .btn.cancel:focus {
  color: var(--dark);
  background-color: var(--accent);
}

.formDish .btn.add:focus {
  color: var(--dark);
  background-color: var(--accent);
}

form input {
  padding: 0.25em 0.35em;
  border: 1px solid var(--dark);
}
