.formDish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 1rem;
}

.formDish .error {
  color: red;
  font-size: 0.75em;
}

.formDish button {
  margin-top: 1rem;
}
