.home {
  background-color: var(--light);
  margin: 1rem auto;
  padding: 3rem;
  border-radius: 25px;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

h2.sectionTitle {
  margin-bottom: 0.5rem;
}

hr {
  margin: 1em 0;
}

button {
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
  border-style: solid;
}
button:disabled,
button:hover:disabled {
  cursor: auto;
  background-color: var(--light);
  color: var(--dark);
}

.btn {
  background-color: var(--dark);
  color: #ffffff;
  padding: 1em;
  border-width: 1px;
  border-radius: 0.75em;
}

.btn:hover {
  background-color: var(--accent);
  color: var(--dark);
  border-color: var(--accent);
}

.btn.manage,
.btn.edit {
  padding: 0.5em;
  margin-left: 0.5em;
}

.btn.new {
  display: block;
  padding: 0.5em;
  margin-top: 0.5em;
}

.btn.new span {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em;
  background-color: var(--accent);
  color: var(--dark);
  font-weight: 600;
  border-radius: 50%;
}

.btn.delete {
  padding: 0.5em;
  margin-left: 0.5em;
}

.modal {
  position: absolute;
  left: 50%;
  top: 4.5rem;
  transform: translate(-50%, 0);
  background-color: var(--light);
  width: 600px;
  padding: 3rem;
  border-radius: 25px;
}

.closeModal {
  float: right;
}
