.home {
  background-color: var(--light);
  margin: 1rem auto;
  padding: 3rem;
  border-radius: 25px;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

hr {
  margin-top: 2em;
}

button {
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
  border-style: solid;
}
button:disabled,
button:hover:disabled {
  cursor: auto;
  background-color: var(--light);
  color: var(--dark);
}

.btn {
  background-color: var(--dark);
  color: #ffffff;
  padding: 1em;
  border-width: 1px;
  border-radius: 0.75em;
}

.btn:hover {
  background-color: var(--accent);
  color: var(--dark);
  border-color: var(--accent);
}

.btn.new,
.btn.manage {
  padding: 0.5em;
  margin-top: 1em;
}

.btn.new span {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em;
  background-color: var(--accent);
  color: var(--dark);
  font-weight: 600;
  border-radius: 50%;
}

.btn.edit {
  padding: 0.5em;
  margin-left: 0.5em;
}

.btn.delete {
  padding: 0.5em;
  margin-left: 0.5em;
}

.modal {
  position: absolute;
  left: 50%;
  top: 4.5rem;
  transform: translate(-50%, 0);
  background-color: var(--light);
  width: 600px;
  padding: 3rem;
  border-radius: 25px;
}

.closeModal {
  float: right;
}

.weight {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weight .totalWeightWrapper {
  text-align: right;
}

.weight .totalWeightWrapper .netWeightError {
  color: red;
  font-size: 0.75em;
  text-align: right;
  margin-bottom: 0;
}

.weight .totalWeightWrapper input.totalWeight {
  padding: 0.2em;
  margin-right: 0.25em;
  max-width: 5em;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  border-radius: 2px;
  border: 2px solid var(--dark);
  outline: -webkit-focus-ring-color auto 1px;
}

.weight .totalWeightWrapper select.unit {
  display: inline-block;
  padding: 0.2em;
  font-size: 1.05em;
  font-weight: 600;
  border-radius: 2px;
  border: 2px solid var(--dark);
  outline: -webkit-focus-ring-color auto 1px;
}
